/*----------------------------------------
 *          |General atributes|
 *----------------------------------------*/

 /*
  * Set default background color as well
  * as the font type
  */
:root {
    --banner-size: 5em;
    background-color: #f4ede7;
    font-family: 'Times New Roman', Times, serif;
}

/*
 * Remove body margin so header can reach the top of
 * the page and the side of the page
 */
body {
    margin: 0;
}

/*----------------------------------------
 *          |Banner atributes|
 *----------------------------------------*/

/* 
 * Settings to specify top banner
 */
#page-banner {
    position: fixed;
    width: 100%;
    min-height: var(--banner-size);
    background-color: #7a8962;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
 * Align the banner items horizontally and space evenly top and bottom
 */
.banner-item {
    color: #f4ede7;
    position: relative;
    float: left;
    padding-left: 1.25em;
    padding-top: 0.25em;
}

/*
 * Scale banner images to fit
 */
img.banner-item {
    height: 5em;
    width: 5em;
}

/*----------------------------------------
 *         |Main Page atributes|
 *----------------------------------------*/

/*
 * Offset page so banner doesn't block top of page
 */
#main-page {
    padding-top: 5.5em;
}

/*
 * Set color, font type/size, and margin of all section headers
 */
.section-header {
    color: #54747f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: .25em;
}

/*
 * Remove gap between label and text
 */
#contact-info-header {
    margin-bottom: 0;
}

/*
 * Remove margin from contact info section and set font size
 */
.contact-info {
    font-size: 1em;
    margin: 0;
}

/*
 * Make the name bold and bigger
 */
#name {
    font-size: 1.2em;
    font-weight: bold;
}

/*
 * Remove the margin from the street adress
 */
#street-address {
    margin: 0;
}

/*
 * Add padding to end of contact info section
 */
#email {
    padding-bottom: 1em;
}

/*
 * Format headers to change font, color, and font type
 */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    margin: 0;
    color: #54747f;
}

/*
 * Center lists text alignment
 */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/*
 * Add spacing for list padding
 */
li {
    padding: 0.75em;
    padding-top: 0;
}

/*
 * Stack two lists next to eachother
 * Add border in only the middle between two lists
 */
.comp-skills{
    float: left;
    width: 50%;
    min-height: 100%;
    border: 0.125em solid #d6b7a3;
    box-sizing: border-box;
    border-bottom: none;
    border-top: none;
}

/*
 * Format border to only show right line
 */
#programming-languages {
    border-left: none;
}

/*
 * Format border to only show left line
 */
#software-operating-systems {
    border-right: none;
}

/*
 * Format resume sections
 * To align text center and have a border
 */
.resume-section {
    float: left;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

/*----------------------------------------
 *          |Footer atributes|
 *----------------------------------------*/

 /*
  * Add backgournd to footer 
  * Format size and orientation of footer
  */
#footer {
    background-color: #8e7636;
    width: 100%;
    float: left;
    padding-left: 45%;
    min-height: 1.6em;
    padding-top: 0.3em;
}

/*
 * format footer text color, size, and orientation
 */
.footer-item {
    color: #f4ede7;
    float: left;
    padding-right: 0.25em;
}